{% extends "base.html" %}
{% load static %}
{% block content %}
	<main>
		<div>
        <div class="container homeContainer heartwool">
			<div class="intro row">
				<div class="col s12 m6">
					<div class="welcome row center">
						<h1 class="col s12"><strong>Welcome to Ravel</strong></h1>
						<hr />
						<h2>Bespoke knitware custom made to order</h2>
						<hr />
						<br />
					</div>
				</div>
				<div class="center col s12 m6">
                    <a href="{% url 'products' %}"><button id="cta-btn-order" class="hoverable btn-large btn #4dd0e1 cyan lighten-2">
                    Shop now <i class="fas fa-gift"></i></button></a>	
				</div>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="center col s12 m4 hide-on-small-only">
				<img id="avatar" src="/media/images/avatar.png" alt="avatar of mary" />
        </div>
				<div class="col s12 m8">
					<h2 class="center">About Ravel</h2>
					<h3 class="about">
						The founder of Ravel, <span class="light">Mary Bradford</span>, has been
						knitting for over <span class="light">40 years</span> and loves to create
						amazing <span class="light">gifts and garments</span> for babies, children and
						adults. Contact Mary now and place your order for incredible
						<span class="light">hand-knitted</span> goods!
					</h3>
					<div class="row center">
						<a
							href="babywear.html"><button class="hoverable btn btn-large #ffcc80 orange lighten-3">Babywear <i class="fas fa-baby"></i> </button></a>
						<a
							href="accessories.html"><button class="hoverable btn btn-large purple lighten-2">Accessories <i class="fas fa-scarf"></i></button></a>
					</div>
				</div>


			</div>

			<div class="container">
				<div class="fixed-action-btn">
					<a class="btn-large btn-floating #b39ddb deep-purple lighten-2" title="QUICK MENU">
						<i class="fas fa-hat-winter"></i>
					</a>
					<ul>
						<li title="Babywear">
							<a href="babywear.html"
								class="btn-floating #ffcc80 orange lighten-3"><i class="fas fa-baby"></i></a>
						</li>
						<li title="Accessories">
							<a href="accessories.html" class="btn-floating purple"><i class="fas fa-scarf"></i></a>
						</li>
						<li title="Contact">
							<a href="contact.html"
								class="btn-floating #b2ebf2 cyan lighten-4"><i class="fas fa-phone"></i></a>
						</li>
					</ul>
				</div>
			</div>
	</main>


</div>
{% endblock %}