{% extends "base.html" %}
{% load static %}
{% block content %}
	<main>
        <div class="container homeContainer heartwool">
			<div class="intro row">
				<div class="col s12 m6">
					<div class="welcome row center">
						<h1 class="col s12"><strong>Welcome to Ravel</strong></h1>
						<hr />
						<h2 class="flow-text">Bespoke knitware custom made to order</h2>
						<hr />
						<br />
					</div>
				</div>
				<div class="center col s12 m6">
                    <a href="{% url 'products' %}"><button id="cta-btn-order" class="hoverable btn-large btn #4dd0e1 cyan lighten-2">
                    Shop now <i class="fas fa-gift"></i></button></a>	
				</div>
			</div>
		</div>
        <br />
        <div class="row">
        <form method="GET" action="{% url 'products' %}">
                    <div class="searchbar input-group center">
                        <input style="width: 50%; border: solid 2px #9575cd; border-radius:1.4em;" class="form-control" type="text" name="q" placeholder="Search our site">
                        <div style="text-align: center;">
                            <button class="form-control btn deep-purple lighten-2" type="submit">
                                
                                    <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
        </form>
        </div>
		<div class="row">
			<div class="center col s12 m4 hide-on-small-only">
				<img id="avatar" src="/media/images/avatar.png" alt="avatar of mary" />
            </div>
				<div class="col s12 m8">
					<h2 class="center">About Ravel</h2>
					<h3 class="about flow-text">
						The founder of Ravel, <span class="light">Mary Bradford</span>, has been
						knitting for over <span class="light">40 years</span> and loves to create
						amazing <span class="light">gifts and garments</span> for babies, children and
						adults. Contact Mary now and place your order for incredible
						<span class="light">hand-knitted</span> goods!
					</h3>
					<div class="row center">
						<a
							href="{% url 'products' %}?category=babywear" class="hoverable btn btn-large #ffcc80 orange lighten-3">Babywear <i class="fas fa-baby"></i></a>
						<a
							href="{% url 'products' %}?category=accessories" class="hoverable btn btn-large purple lighten-2">Accessories <i class="fas fa-scarf"></i></a>
					</div>
				</div>
        </div>
		
	</main>


</div>
{% endblock %}