{% extends "base.html" %}
{% load static %}
{% block content %}
<main>
        <div class="container homeContainer heartwool">
			<div class="intro row">
				
					<div class="row center">
						<h1 class="col s12"><strong>Basket <i class="fa fa-shopping-basket"></i></strong></h1>
					</div>
			
			
			</div>
        </div>
    <br>
{% if order_items|length > 0 %}
{% if total < 20 %}
<div class="row center">
    <p><i class="fa fa-truck-loading"></i> <strong>You're <span style="font-weight: 800;">£{{ free_delivery_delta }}</span> away from getting free delivery on your order! <a href="{% url 'products'%}"<i class="fa fa-shopping-bag"></i></strong></a></p>
</div>
{% endif %}
   <div class="row center">
       <a href="{% url 'delete_session' %}">
       <button id="deleteAll" class="red white-text btn-medium">Delete All Orders <i class="fa fa-trash"></i></button></a>
   </div>
<div>
      <table style="padding: 2em; margin: 2em;">
        <thead>
          <tr>
              <th>Order #</th>
              <th>Item Image</th>
              <th>Item Name</th>
              <th>Item Price</th>
              <th>Quantity</th>
              <th>Item Color</th>
              <th>Item Size</th>
              <th>Total</th>
              <th>Remove</th>
          </tr>
        </thead>

        <tbody>
        {% if order_items|length > 0 %}
            {% for item in order_items %}
            <tr>
                <td>{{ item.order_id}}</td>
                <td><img width="100px" style="border-radius: 1.4em; object-fit: cover;" src="{{ item.product.image.url }}"></td>
                <td><h5><a href="{% url 'view_product' item.product.id %}"<strong>{{item.product.name}}</strong></h5><p style="color: grey">({{item.product.category}})</p></td>
                <td>£{{item.product.price}}</td>
                <td> 
                    <form class="form update-form" method="POST" action="">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                                                            data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-minus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <input class="form-control form-control-sm qty_input" type="number"
                                                        name="quantity" value="{{ item.quantity }}" min="1" max="3"
                                                        data-item_id="{{ item.item_id }}"
                                                        id="id_qty_{{ item.item_id }}">
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                            data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-plus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <!-- <a class="update-link text-info"><small>Update</small></a> -->
                                     
                </td>
           
                <td>{{item.color}} <span data-badge-caption="extra" class="new badge">(+ £{{item.colorCost}})</span></td>
           
                <td>{{item.size}} <span data-badge-caption="extra" class="new badge">(+ £{{item.sizeCost}})</span></td>
                <td>£{{item.this_total}}</td>                        
                <td ><a class="remove-item" id="{{item.item_id }}" >Remove<i style="color:red" class=" fa fa-trash"></i></a>
                </td>
             
            </tr>
            {% endfor %}
        {% endif %}
        </tbody>
      </table>
</div>
{{test}}
{{order_items}}
<div class="row left" style="padding-left: 100px;">
  
    <h4>1) <i class="fa fa-cash-register"></i> Total: £{{ total}}</h4>
    {% if total < 20 %}
    <h4>2) <i class="fa fa-truck-loading"></i> Delivery: £{{delivery}}</h4>  <p><i class="fa fa-truck-loading"></i> <strong>You're <span style="font-weight: 800;">£{{ free_delivery_delta }}</span> away from getting free delivery on your order! <i class="fa fa-truck-loading"></i></strong></p>
    {% endif %}
    {% if total > 20 %}
    <h4>2) <i class="fa fa-truck-loading"></i> Delivery: FREE </h4>
    {% endif %}

    <h4>3) <strong style="text-decoration: underline;">Grand Total: £{{grand_total}}</strong></h4>
    {{free_deliver_delta}}
</div>
<a href="{% url 'checkout' %}">
<div class="row center" style="padding-top: 100px">
    <button class="btn-large">Checkout <i class="fa fa-shopping-cart"></i></button>
</div>
</a>
        
     </main>
{% elif order_items|length == 0 %}
<div class="row center">
<h2>YOU DONT HAVE ANY ORDERS</h2>
<a href="{% url 'products' %}"><button class="btn-large">Start Shopping</button></a>
</div>

{% endif %}
{% endblock %}
{% block postloadjs %}
{{ block.super }}
{% include 'orders/includes/quantity_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    }),

      // Remove item and reload on click
    $('.remove-item').mouseover(function(e) {
        $(this).text('Hello');

    },
    $('.remove-item').mouseleave(function(e) {
         $(this).text('DOne');
    },
    // $('.remove-item').click(function(e) {
    //     var csrfToken = "{{ csrf_token }}";
    //     var orderId = $(this).attr('id');
    //     var url = `/orders/remove/${orderId}/`;
    //     var data = {'csrfmiddlewaretoken': csrfToken};
    //     $.post(url, data)
    //      .done(function() {
    //          location.reload();
    //      });
    // })
    // Remove all order items
     $('#deleteAll').click(function(e) {
        $.post()
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}