{% extends "base.html" %}
{% load static %}
{% block content %}
<main>
        <div class="container homeContainer heartwool">
			<div class="intro row">
				
					<div class="row center">
						<h1 class="col s12"><strong>Orders <i class="fa fa-shopping-bag"></i></strong></h1>
					</div>
			
			
			</div>
        </div>
    <br>
{% if order_items|length > 0 %}
{% if total < 20 %}
<div class="row">
    You're £{{free_deliver_delta }} away from getting free delivery on your order!
</div>
{% endif %}
   <div class="row center">
       <button onclick="delete_all_orders()" class="red white-text btn-medium">Delete All Orders <i class="fa fa-trash"></i></button>
   </div>
<div>
      <table style="padding: 2em; margin: 2em;">
        <thead>
          <tr>
              <th>Order #</th>
              <th>Item Image</th>
              <th>Item Name</th>
              <th>Item Price</th>
              <th>Quantity</th>
              <th>Item Color</th>
              <th>Item Size</th>
              <th>Total</th>
              <th>Remove</th>
          </tr>
        </thead>

        <tbody>
        {% if order_items|length > 0 %}
            {% for item in order_items %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><img width="100px" style="border-radius: 1.4em; object-fit: cover;" src="{{ item.product.image.url }}"></td>
                <td><h5><strong>{{item.product.name}}</strong></h5><p style="color: grey">({{item.product.category}})</p></td>
                <td>£{{item.product.price}}</td>
                <td>{{item.quantity}}</td>
           
                <td>{{item.color}} <span data-badge-caption="extra" class="new badge">(+£{{item.colorCost}})</span></td>
           
                <td>{{item.size}} <span data-badge-caption="extra" class="new badge">(+ £{{item.sizeCost}})</span></td>
                <td>£{{item.this_total}}</td>                        
                <td><i style="color:red" class=" fa fa-trash"></i></td>
       
             
            </tr>
            {% endfor %}
        {% endif %}
        </tbody>
      </table>
</div>
<div class="row left" style="padding-left: 100px;">
  
    <h4>1) <i class="fa fa-cash-register"></i> Total: £{{ total}}</h4>
    {% if total < 20 %}
    <h4>2) <i class="fa fa-truck-loading"></i> Delivery: £{{delivery}}</h4>
    {% endif %}
    {% if total > 20 %}
    <h4>2) <i class="fa fa-truck-loading"></i> Delivery: FREE DELIVERY</h4>
    {% endif %}

    <h4>3) <strong style="text-decoration: underline;">Grand Total: £{{grand_total}}</strong></h4>
    {{free_deliver_delta}}
</div>
<div class="row center" style="padding-top: 100px">
    <button class="btn-large">Checkout <i class="fa fa-shopping-cart"></i></button>
</div>
        
     </main>
{% elif order_items|length == 0 %}
<div class="row center">
<h2>YOU DONT HAVE ANY ORDERS</h2>
<a href="{% url 'products' %}"><button class="btn-large">Start Shopping</button></a>
</div>

{% endif %}
{% endblock %}