 <!-- Dropdown Structure -->
<ul id="my-account-dropdown" class="dropdown-content">
{% if request.user.is_authenticated %}
    {% if request.user.is_superuser %}
        <li><a href="{% url 'account_logout' %}" class="dropdown-item">Admin <i class="fa fa-cogs"></i></a></li>
    {% endif %}
    <li><a href="{% url 'orders'%}">My Orders <i class="fas fa-shopping-bag"></i></a></li>
    <li><a href="" class="dropdown-item">My Profile <i class="fa fa-user"></i></a></li>
    <li><a href="{% url 'account_logout' %}" class="dropdown-item">Logout <i class="fa fa-door-open"></i></a></li>
    {% else %}
    <li><a href="{% url 'account_signup' %}" class="dropdown-item">Register <i class="fa fa-pen-alt"></i></a></li>
    <li><a href="{% url 'account_login' %}" class="dropdown-item">Login <i class="fa fa-sign-in-alt"></i></a></li>
{% endif %}
</ul>
 <nav class="nav-extended text-shadow #b39ddb deep-purple lighten-2">
        <!--top navbar-->
        <div class="navbar nav-wrapper">
          <a
            href="{% url 'home' %}"
            class="title logo brand-logo"
            style="font-family: Lobster; font-size: 50px"
            ><i class="fas fa-hat-winter"></i>Ravel</a
          >
          <a href="#" data-target="mobile-demo" class="sidenav-trigger right"
            ><i class="fas fa-bars"></i
          ></a>
          <ul class="right hide-on-med-and-down">
            <li>
              <a href="{% url 'home' %}">Home <i class="fas fa-home"></i></a>
            </li>

            <!-- <li>
              <a href="{% url 'products'%}">Babywear <i class="fas fa-baby"></i></a>
            </li>

            <li>
              <a href="{% url 'products'%}"
                >Accessories <i class="fas fa-scarf"></i
              ></a>
            </li> -->
            <!-- Prevents guest user accessing profile feature -->

            <li>
              <a href="{% url 'contact' %}">Contact <i class="fas fa-comments"></i></a>
            </li>
            <li>
              <a href="{% url 'orders' %}">Orders <i class="fas fa-shopping-bag"></i></a>
            </li>
            <li>
              <a class="dropdown-trigger" data-target="my-account-dropdown">My Account <i class="fas fa-user"></i></a>
            </li> 
          </ul>
        </div>
      </nav>