 <!-- Dropdown Structure -->
<ul id="my-account-dropdown-mobile" class="dropdown-content">
{% if request.user.is_authenticated %}
    {% if request.user.is_superuser %}
        <li><a href="{% url 'account_logout' %}" class="dropdown-item">Admin <i class="fa fa-cogs"></i></a></li>
    {% endif %}
    <li><a href="orders">My Bag <i class="fas fa-shopping-bag"></i></a></li>
    <li><a href="" class="dropdown-item">My Profile <i class="fa fa-user"></i></a></li>
    <li><a href="{% url 'account_logout' %}" class="dropdown-item">Logout <i class="fa fa-door-open"></i></a></li>
    {% else %}
    <li><a href="{% url 'account_signup' %}" class="dropdown-item">Register <i class="fa fa-pen-alt"></i></a></li>
    <li><a href="{% url 'account_login' %}" class="dropdown-item">Login <i class="fa fa-sign-in-alt"></i></a></li>
{% endif %}
</ul>

<ul class="sidenav" id="mobile-demo">
        <li>
          <h4 class="center-align deep-purple-text lighten-2">
            <i class="fas fa-hat-winter"></i> Ravel
          </h4>
        </li>

        <li>
          <a href="{% url 'home' %}">Home <i class="fas fa-home"></i></a>
        </li>
        <!-- <li>
          <a href="{% url 'products'%}">Babywear<i class="fas fa-baby"></i></a>
        </li>-->

        <li>
          <a href="{% url 'orders'%}">Basket<i class="fas fa-shopping-basket"></i>  {% if order_items|length > 0 %}({{order_items|length}}){% endif %} </a>
        </li> 
        <li>
          <a href="{% url 'contact' %}">Contact<i class="fas fa-comments"></i></a>
        </li>
        <li>
            <a class="dropdown-trigger" data-target="my-account-dropdown-mobile">My Account <i class="fas fa-user"></i></a>
        </li> 
</ul>