{% load static %}

<!DOCTYPE html>
<html>

<head>
	<link rel="shortcut icon" href="images/knit.png" />
	<link rel="stylesheet" href="css/style.css" type="text/css" />
	<title>Ravel</title>
	{% block meta %}
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta charset="UTF-8" />
	<meta name="theme-color" content="#ffa78a" />
	<meta name="author" content="Daniel Bradford" />
	<meta name="description" content="Custom Knitware Online Store Application" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	{% endblock %}
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	{% block corecss %}
    <link rel=" stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
		integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
		type="text/css" />
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
	{% endblock %}

	{% block corejs %}

	<script type="text/javascript" src="js/materialize.min.js"></script>
	{% endblock %}
	<title>Ravel {% block extra_title %}{% endblock %}</title>
</head>

<body>
	<header class="col-12"></header>
	{% if messages %}
	<div class="message-container"></div>
	{% endif %}

	{% block page_header %}
	{% endblock %}

	{% block content %}
	{% endblock %}

	{% block postloadjs %}
	{% endblock %}


</body>

</html>