{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="images/knit.png" />
    <title>Ravel</title>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#ffa78a" />
    <meta name="author" content="Daniel Bradford" />
    <meta name="description" content="Custom Knitware Online Store Application">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% endblock %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block corecss %}
    <link rel=" stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <!-- <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"> -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %} {% block corejs %}
     <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <script src="{% static 'js/base.js' %}"></script>

    
    {% endblock %}
    <title>Ravel {% block extra_title %}{% endblock %}</title>
  </head>

  <body>
    <header>
     
      <nav>
      {% include 'includes/main-nav.html'%}
      {% include 'includes/mobile-nav.html'%}
      
      </nav>
      
    </header>
    {% if messages %}
    <div class="message-container"></div>
    {% endif %} 
    
    
    {% block page_header %} 
    {% endblock %} 
    {% block content %} 
    {% endblock %} 
    {% block postloadjs %} 
    {% endblock %}
    <div class="container">
				<div class="fixed-action-btn">
					<a class="btn-large btn-floating #b39ddb deep-purple lighten-2" title="QUICK MENU">
						<i class="fas fa-hat-winter"></i>
					</a>
					<ul>
						<li title="Babywear">
							<a href="{% url 'products'%}" class="btn-floating #ffcc80 orange lighten-3"><i class="fas fa-baby"></i></a>
						</li>
						<li title="Accessories">
							<a href="{% url 'products'%}" class="btn-floating purple"><i class="fas fa-scarf"></i></a>
						</li>
						<li title="Contact">
							<a href="{% url 'contact' %}" class="btn-floating #b2ebf2 cyan lighten-4"><i class="fas fa-phone"></i></a>
						</li>
                        <li title="My Orders">
                            <a href="{% url 'orders' %}" class="btn-floating" data-target="my-account-dropdown"><i class="fas fa-shopping-bag"></i></a>
                        </li>
					</ul>
				</div>
		</div>
    <footer class="heartwool-footer">
      <div class="purple-text container">
        © 2020 Copyright DDB
        <span>
            <a href="https://www.linkedin.com/in/daniel-bradford-12492946/" target="_blank" rel="noreferrer" aria-label="linked in button">
                <i class="fab fa-linkedin"></i>
            </a>
        </span>
        <span class="right">
            Follow Us:
            <a aria-label="instagram button" class="grey-text text-lighten-4 right" target="_blank" rel="noreferrer" href="https://instagram.com">
                <i class="fab fa-instagram"></i>
            </a>
        </span>
      </div>
    </footer>
  </body>
</html>
