{% extends "base.html" %}
{% load static %}
{% block content %}
	<main>
	<div class="container">
        <div class="row">
            <div class="col-12 center">
                <h1>Products</h1>
                    <div class="col m12 s12 center">A selection of items that you can base your order on. They come in a variety of colors and sizes. Prices will vary!
                    </div>
                <hr>
            </div>
        </div>
    </div>
    <div id="categories" class="row">
        <div class="col m6 s6 lg6 center">
        <a href="{% url 'products' %}?category=babywear" class="btn">Babywear <i class="fa fa-baby"></i></a>
        </div>
        <div class="col m6 s6 lg6 center">
        <a href="{% url 'products' %}?category=accessories" class="btn">Accessories <i class="fa fa-scarf"></i></a>
        </div>
    <div class="products-container">
    <div class="row">
        {% for product in products %}
            <div class=" col m3 l4 s12 card">
                <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{ product.image.url }}">
                </div>
                <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{product.name}}<i class="material-icons right">more_vert</i></span>
                <p><a href="#"><strong>from £{{product.price}}</strong></a></p>
                </div>
                <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">About <i class="fa fa-info"></i><i class="material-icons right">close</i></span>
                <p>{{product.description}}</p>
                <div id="color-select" class="row">
                <div class="input-field col s12 m12">
                    <select name="color" id="colorChoice" class="icons">
                    <option value="" disabled selected>Choose your Color</option>
                    {% for color in colors %}
                    <option value="{{color.cost}}" data-icon="{{color.image.url}}">{{color.name}} <span class="center">(+£{{color.cost}})</span></option>
                    {% endfor %}
                    </select>
                    <label>Color Option</label>
                </div>
                <div class="input-field col s12 m12">
                    <select name="size" id="sizeChoice" class="icons">
                    <option value="" disabled selected>Choose your Size</option>
                    {% for size in size %}
                    <option value="{{size.cost}}" >{{size.name}} (+£{{size.cost}}) {{size.measurement}}) </option>
                    {% endfor %}
                    </select>         
                </div>
                </div>
                <div class="row">
                <p>Total: £{{product.price}}</p>
                
                </div>
            
                <div class="row center">
                    <a href="{#"><button class="btn center">Order Now <i class="fa fa-shopping-bag"></i></button></a>
                    </div>
                </div>
            </div>
            <!-- {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
            {% endif %}                        
            {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
            {% endif %}
            {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
            {% endif %}
            {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
            {% endif %} -->
        {% endfor %} 
            
      
    </div>
    
    </div>
    </div>
	</main>

{% endblock %}