{% extends "base.html" %}
{% load static %}
{% block content %}
	<main>
	<div class="container">
        <div class="row">
            <div class="col-12 center">
                <h1>Products</h1>
                <hr>
                    <div>
                        <div class="col m12 s12 center">A selection of items that you can base your order on. They come in a variety of colors and sizes. Prices will vary!
                        </div>
                    </div>
                <hr>
            </div>
        </div>
    </div>
    <div id="categories" class="row">
        <div class="col m6 s6 lg6 center">
        <button class="btn"> Babywear <i class="fa fa-baby"></i></button>
        </div>
        <div class="col m6 s6 lg6">
        <button class="btn"> Accessories <i class="fa fa-scarf"></i></button>
        </div>
    <div class="products-container">
    <div class="row">
        {% for product in products %}
            <div class=" col m4 s12 card">
                <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{ product.image.url }}">
                </div>
                <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{product.name}}<i class="material-icons right">more_vert</i></span>
                <p><a href="#">from £{{product.price}}</a></p>
                </div>
                <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">About <i class="fa fa-info"></i><i class="material-icons right">close</i></span>
                <p>{{product.description}}</p>
                <div class="row">
                <div class="input-field col s12 m12">
                    <select id="colorChoice" class="icons">
                    <option value="" disabled selected>Choose your Color</option>
                    {% for color in colors %}
                    <option value="" data-icon="{{color.image.url}}">{{color.name}} <span class="center">(+£{{color.cost}})</span></option>
                    {% endfor %}
                    </select>
                    <label>Color Option</label>
                </div>
                <div class="input-field col s12 m12">
                    <select id="sizeChoice" class="icons">
                    <option value="" disabled selected>Choose your Size</option>
                    {% for size in size %}
                    <option value="{{size.name}}" >{{size.name}} (+£{{size.cost}}) {{size.measurement}}) </option>
                    {% endfor %}
                    </select>         
                </div>
                </div>
                <div class="row">
                
                </div>
            
                <div class="row center">
                    <a href="#"><button class="btn center">Order Now <i class="fa fa-shopping-bag"></i></button></a>
                    </div>
                </div>
            </div>
        {% endfor %} 
            
      
    </div>
    
    </div>
    </div>
	</main>

{% endblock %}