{% extends "base.html" %}
{% load static %}
{% block content %}
	<main>
	<div class="container">
        <div class="row">
            <div class="col-12 center">
                <h1>Products</h1>
                    <div class="col m12 s12 center">A selection of items that you can base your order on. They come in a variety of colors and sizes. Prices will vary!
                    </div>
                <hr>
            </div>
        </div>
    </div>
    <div id="categories" class="row">
        <div class="col m6 s6 lg6 center">
        <a href="{% url 'products' %}?category=babywear" class="btn">Babywear <i class="fa fa-baby"></i></a>
        </div>
        <div class="col m6 s6 lg6 center">
        <a href="{% url 'products' %}?category=accessories" class="btn">Accessories <i class="fa fa-scarf"></i></a>
        </div>
    <div class="products-container">
    <div class="row">
        {% for product in products %}
            <div class=" col m3 l4 s12 card">
                <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{ product.image.url }}">
                </div>
                <div class="card-content flow-text">
                <span class="card-title activator grey-text text-darken-4">{{product.name}}<i class="material-icons right">more_vert</i></span>
                <p><a href="#"><strong>from £{{product.price}}</strong></a></p>
                <div class="center">
                <a class="btn center" href="{% url 'view_product' product.id %}">More info</a>
                </div>
                </div>
                <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">About <i class="fa fa-info"></i><i class="material-icons right">close</i></span>
                <p class="flow-text">{{product.description}}</p>
                <form action="{% url 'add_to_order' product.id %}" method="POST">
                    {% csrf_token %}
                    <div id="color-select" class="row">
                        <div class="input-field col s12 m12">
                            <select required name="color" id="colorChoice" class="icons flow-text">
                            <option value="" disabled selected>Choose your Color</option>
                            {% for color in colors %}
                            <option  value="{{color.name}}" data-icon="{{color.image.url}}">{{color.name}} <span class="center">(+£{{color.cost}})</span></option>
                            {% endfor %}
                            </select>
                            <label>Color Option</label>
                        </div>
                        <div class="input-field col s12 m12">
                            <select required name="size" id="sizeChoice" class="icons flow-text">
                            <option value="" disabled selected>Choose your Size</option>
                            {% for size in size %}
                            <option  value="{{size.name}}" >{{size.name}} (+£{{size.cost}}) {{size.measurement}}) </option>
                            {% endfor %}
                            </select>
                            <label>Size Option</label>        
                        </div>
                        <div class="input-field col s12 m12">
                            <select required name="quantity" id="quantity" class="icons">
                            <option value="" disabled selected>Quantity</option>
                           
                            <option value="1">1 </option>
                            <option value="2">2 </option>
                            <option value="3">3 </option>

           
                            </select>
                            <label>Quantity</label>
                        </div>
                        
                    </div>
                    Total:<div id="C">£{{product.price}} (+ Size and color options )</div>
                    <div class="row">
                        <input type="hidden" data-id="{{product.id}}">
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
            
                    <div class="row center">
                         <a onclick="M.toast({html: '{{product.name}}  added to basket!'})" > <button type="submit" class="btn center">Add to Order <i class="fa fa-plus"></i></button></a>
                    </div>
                
                </form>
                </div>
            </div>
        {% endfor %} 
            
      
    </div>
    
    </div>
    </div>
	</main>

{% endblock %}